In [40]:
import pandas as pd
import numpy as np

In [2]:
data_raw = pd.read_csv("./n_movies.csv")

In [3]:
data_raw.head(10)

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
5,The Sandman,(2022– ),TV-MA,45 min,"Drama, Fantasy, Horror",7.8,Upon escaping after decades of imprisonment by...,"['Tom Sturridge, ', 'Boyd Holbrook, ', 'Patton...","116,358"
6,Rick and Morty,(2013– ),TV-MA,23 min,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"['Justin Roiland, ', 'Chris Parnell, ', 'Spenc...","502,160"
7,Breaking Bad,(2008–2013),TV-MA,49 min,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,"['Bryan Cranston, ', 'Aaron Paul, ', 'Anna Gun...","1,831,340"
8,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,123"
9,Blonde,(2022),NC-17,166 min,"Biography, Drama, Mystery",6.2,A fictionalized chronicle of the inner life of...,"['Andrew Dominik', '| ', ' Stars:', 'Ana de...",935

In [4]:
data_raw.columns

Index(['title', 'year', 'certificate', 'duration', 'genre', 'rating',
       'description', 'stars', 'votes'],
      dtype='object')

In [5]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9957 non-null   object
 1   year         9430 non-null   object
 2   certificate  6504 non-null   object
 3   duration     7921 non-null   object
 4   genre        9884 non-null   object
 5   rating       8784 non-null   float64
 6   description  9957 non-null   object
 7   stars        9957 non-null   object
 8   votes        8784 non-null   object
dtypes: float64(1), object(8)
memory usage: 700.2+ KB

In [7]:
# first 100 rows of data
data_raw_100 = data_raw.head(100)

All the column names seem appropriate. <br>
Now let's start with first column.

In [8]:
# will hold clean data
clean_data = pd.DataFrame()
clean_data

Empty DataFrame
Columns: []
Index: []

In [9]:
titles = data_raw.title
titles.head(10)

0                 Cobra Kai
1                 The Crown
2          Better Call Saul
3             Devil in Ohio
4    Cyberpunk: Edgerunners
5               The Sandman
6            Rick and Morty
7              Breaking Bad
8            The Imperfects
9                    Blonde
Name: title, dtype: object

In [10]:
titles_100 = titles.head(100)

In [11]:
titles.isnull().value_counts()

False    9957
Name: title, dtype: int64

In [16]:
titles_as_string = titles.astype("string")

In [17]:
titles_as_string.dtype

string[python]

In [18]:
clean_data["title"] = titles_as_string

In [19]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   9957 non-null   string
dtypes: string(1)
memory usage: 77.9 KB

In [20]:
clean_data.head()

                    title
0               Cobra Kai
1               The Crown
2        Better Call Saul
3           Devil in Ohio
4  Cyberpunk: Edgerunners

Moving on to year column

In [21]:
years = data_raw.year

In [22]:
years_100 = years.head(100)

In [23]:
years.isnull().value_counts()

False    9430
True      527
Name: year, dtype: int64

In [33]:
years_cleaned_1 = years.replace("[\(I*\) ]", "", regex=True)
years_cleaned_1.head(10)

0        2018–
1        2016–
2    2015–2022
3         2022
4        2022–
5        2022–
6        2013–
7    2008–2013
8        2022–
9         2022
Name: year, dtype: object

In [87]:
starting_year = years_cleaned_1.str.split("–").apply(lambda x: x[0] if isinstance(x, list) else x)
starting_year

0       2018
1       2016
2       2015
3       2022
4       2022
        ...
9952    2022
9953    2010
9954    2016
9955    2005
9956    2022
Name: year, Length: 9957, dtype: object

In [88]:
years_cleaned_1.str.split("–")

0           [2018, ]
1           [2016, ]
2       [2015, 2022]
3             [2022]
4           [2022, ]
            ...
9952        [2022, ]
9953    [2010, 2022]
9954        [2016, ]
9955    [2005, 2020]
9956          [2022]
Name: year, Length: 9957, dtype: object

In [61]:
starting_years_without_letters = starting_year.replace("[a-zA-Z]", "", regex=True)
starting_years_without_letters

0       2018
1       2016
2       2015
3       2022
4       2022
        ...
9952    2022
9953    2010
9954    2016
9955    2005
9956    2022
Name: year, Length: 9957, dtype: object

In [69]:
starting_years_len = starting_years_without_letters.apply(lambda x: len(x) if not pd.isna(x) else x)
starting_years_len

0       4.0
1       4.0
2       4.0
3       4.0
4       4.0
       ...
9952    4.0
9953    4.0
9954    4.0
9955    4.0
9956    4.0
Name: year, Length: 9957, dtype: float64

In [72]:
def add_nan_if_0_len(x):
    if not pd.isna(x):
        if len(x) == 0.0:
            return np.nan
        else:
            return x
    else:
        return x

In [73]:
# filling empty values with NaN
starting_year_fill_empty = starting_years_without_letters.apply(add_nan_if_0_len)
starting_year_fill_empty

0       2018
1       2016
2       2015
3       2022
4       2022
        ...
9952    2022
9953    2010
9954    2016
9955    2005
9956    2022
Name: year, Length: 9957, dtype: object

In [75]:
starting_years_len_2 = starting_year_fill_empty.apply(lambda x: len(x) if not pd.isna(x) else x)
starting_years_len_2

0       4.0
1       4.0
2       4.0
3       4.0
4       4.0
       ...
9952    4.0
9953    4.0
9954    4.0
9955    4.0
9956    4.0
Name: year, Length: 9957, dtype: float64

In [79]:
starting_years_len_2.isnull().value_counts()

False    9326
True      631
Name: year, dtype: int64

In [80]:
starting_year_aggr = starting_year_fill_empty.value_counts()
starting_year_aggr

2019    1317
2020    1210
2018    1015
2021     896
2017     809
        ...
1934       1
1944       1
1959       1
1938       1
1933       1
Name: year, Length: 86, dtype: int64

In [82]:
clean_data["starting_year"] = pd.to_numeric(starting_year_fill_empty)

In [84]:
clean_data.head(10)

                    title  starting_year
0               Cobra Kai         2018.0
1               The Crown         2016.0
2        Better Call Saul         2015.0
3           Devil in Ohio         2022.0
4  Cyberpunk: Edgerunners         2022.0
5             The Sandman         2022.0
6          Rick and Morty         2013.0
7            Breaking Bad         2008.0
8          The Imperfects         2022.0
9                  Blonde         2022.0

In [85]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          9957 non-null   string
 1   starting_year  9326 non-null   float64
dtypes: float64(1), string(1)
memory usage: 155.7 KB

duration column

In [89]:
durations = data_raw.duration

In [90]:
durations_without_min = durations.replace("[\smins*\s]", "", regex=True)
durations_without_min

0        30
1        58
2        46
3       356
4        24
       ...
9952     45
9953     44
9954     58
9955     44
9956    356
Name: duration, Length: 9957, dtype: object

In [91]:
durations_without_min.info()

<class 'pandas.core.series.Series'>
RangeIndex: 9957 entries, 0 to 9956
Series name: duration
Non-Null Count  Dtype
--------------  -----
7921 non-null   object
dtypes: object(1)
memory usage: 77.9+ KB

In [92]:
durations_numeric = pd.to_numeric(durations_without_min)
durations_numeric

0        30.0
1        58.0
2        46.0
3       356.0
4        24.0
        ...
9952     45.0
9953     44.0
9954     58.0
9955     44.0
9956    356.0
Name: duration, Length: 9957, dtype: float64

In [93]:
clean_data["duration"] = durations_numeric

In [94]:
clean_data.head()

                    title  starting_year  duration
0               Cobra Kai         2018.0      30.0
1               The Crown         2016.0      58.0
2        Better Call Saul         2015.0      46.0
3           Devil in Ohio         2022.0     356.0
4  Cyberpunk: Edgerunners         2022.0      24.0

In [95]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          9957 non-null   string
 1   starting_year  9326 non-null   float64
 2   duration       7921 non-null   float64
dtypes: float64(2), string(1)
memory usage: 233.5 KB

In [96]:
clean_data["rating"] = data_raw.rating

In [97]:
clean_data.head()

                    title  starting_year  duration  rating
0               Cobra Kai         2018.0      30.0     8.5
1               The Crown         2016.0      58.0     8.7
2        Better Call Saul         2015.0      46.0     8.9
3           Devil in Ohio         2022.0     356.0     5.9
4  Cyberpunk: Edgerunners         2022.0      24.0     8.6

In [98]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          9957 non-null   string
 1   starting_year  9326 non-null   float64
 2   duration       7921 non-null   float64
 3   rating         8784 non-null   float64
dtypes: float64(3), string(1)
memory usage: 311.3 KB

votes column

In [99]:
votes = data_raw.votes
votes

0       177,031
1       199,885
2       501,384
3         9,773
4        15,413
         ...
9952      3,130
9953    970,067
9954    199,898
9955    439,601
9956      9,786
Name: votes, Length: 9957, dtype: object

In [100]:
votes_clean = votes.replace("[a-bA-Z,\s]", "", regex=True)
votes_clean

0       177031
1       199885
2       501384
3         9773
4        15413
         ...
9952      3130
9953    970067
9954    199898
9955    439601
9956      9786
Name: votes, Length: 9957, dtype: object

In [101]:
votes_numeric = pd.to_numeric(votes_clean)
votes_numeric

0       177031.0
1       199885.0
2       501384.0
3         9773.0
4        15413.0
          ...
9952      3130.0
9953    970067.0
9954    199898.0
9955    439601.0
9956      9786.0
Name: votes, Length: 9957, dtype: float64

In [102]:
clean_data["votes"] = votes_numeric

In [103]:
clean_data.head(10)

                    title  starting_year  duration  rating      votes
0               Cobra Kai         2018.0      30.0     8.5   177031.0
1               The Crown         2016.0      58.0     8.7   199885.0
2        Better Call Saul         2015.0      46.0     8.9   501384.0
3           Devil in Ohio         2022.0     356.0     5.9     9773.0
4  Cyberpunk: Edgerunners         2022.0      24.0     8.6    15413.0
5             The Sandman         2022.0      45.0     7.8   116358.0
6          Rick and Morty         2013.0      23.0     9.2   502160.0
7            Breaking Bad         2008.0      49.0     9.5  1831340.0
8          The Imperfects         2022.0      45.0     6.3     3123.0
9                  Blonde         2022.0     166.0     6.2      935.0

In [104]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          9957 non-null   string
 1   starting_year  9326 non-null   float64
 2   duration       7921 non-null   float64
 3   rating         8784 non-null   float64
 4   votes          8784 non-null   float64
dtypes: float64(4), string(1)
memory usage: 389.1 KB

In [105]:
clean_data.to_csv("clean_data.csv")